body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
}
h2{
    
    line-height: 1.5;
    font-size: 3rem;
    
    
}
h3{
    
    color:black;
}
p{
    color: #8f8f8f;
    font-family: "Montserrat-Bold";
    
}
.big-heading{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.5;

}
.container-fluid{
    padding: 7% 15%;

}
.colored-section{
    background-color:#ff4c68;
    color: #fff;
}
.white-section{
    background-color: #fff;
}



.title-image{
    
    width: 30%;

    transform: rotate(25deg);
    
    position: absolute;
    right: 20%;
}

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}
.navbar{
    padding : 0 0 4.5rem;

}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;

}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Monserrat-Light";
}
.download-buttom{
    margin: 5% 3% 5% 0;
}

/* features section */
#features{
    
    
    position: relative;
    
}
.feature-box{
    
    color:#ef8172;
    margin: 20px 40px 50px;

}


.icon{
    color: #ef8172;
    margin-bottom: 5%;
}
.icon:hover{
    color: #ff4c68;
}

.testimonials-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    
    padding-bottom: 3%;
}
.press-image{
    width: 30%;
    padding: 0 5%;
    
}


#pricing{
    padding: 100px;
}
.pricing-h3, .pricing-h2{
    color:#fff;
}

.pricing-column{
    padding: 3% 2%;
}
.card{
    background-color: #ef8172;
}  
@media (max-width: 1028px){
    
    #title{
        text-align: center;
    }
    .title-image{
        position:static;
        transform: rotate(0);
    }
}
.social-icon{
    margin:2%;
}